In [1]:
# This notebook is to analyze attendees of events.
# Input: Attendee summary report, as CSV, from eventbrite. Choose all events that need to be analyzed.
# Output: CSV file of attendee names, their email ids, and the number of events they've attended, 
# ordered by DESC order of number of events.

In [2]:
import pandas as pd

In [3]:
csv_file = 'eventbrite_nov_2023_apr_2024.csv'
df = pd.read_csv(csv_file)

In [4]:
df.head()

,Order ID,Order Date,Attendee Status,First Name,Last Name,Email,Event Name,Ticket Quantity,Ticket Type,Ticket Price,Buyer First Name,Buyer Last Name,Buyer Email
0,8220475359,11/2/23 8:00 PM,Attending,Nicholas,Torelli,nicotarg123@gmail.com,Vedanta Society of New York - Sunday Service: ...,1,Attend in person,$0.00,Nicholas,Torelli,nicotarg123@gmail.com
1,8220475829,11/2/23 8:00 PM,Attending,Perry,Fox,pyrus277@gmail.com,Vedanta Society of New York - Sunday Service: ...,1,Attend in person,$0.00,Perry,Fox,pyrus277@gmail.com
2,8220475919,11/2/23 8:00 PM,Attending,Jane,Lam,puffymilk@gmail.com,Vedanta Society of New York - Sunday Service: ...,1,Attend in person,$0.00,Jane,Lam,puffymilk@gmail.com
3,8220475919,11/2/23 8:00 PM,Attending,Jane,Lam,puffymilk@gmail.com,Vedanta Society of New York - Sunday Service: ...,1,Attend in person,$0.00,Jane,Lam,puffymilk@gmail.com
4,8220476029,11/2/23 8:00 PM,Attending,Manisha,Paliwal,manisha1.paliwal@gmail.com,Vedanta Society of New York - Sunday Service: ...,1,Attend in person,$0.00,Manisha,Paliwal,manisha1.paliwal@gmail.com

In [5]:
# Required columns: order date, attendee first and last name, attendee email, order id, buyer email
required_cols = {
    'Event Name': 'event',
    'First Name': 'first_name',
    'Last Name': 'last_name',
    'Email': 'email'
}
df = df[required_cols.keys()]
df = df.rename(columns=required_cols, errors='raise')

In [6]:
# Keep only the day and date part of the event name column
df['event'] = df['event'].apply(lambda x: x.split('-')[1].strip())

In [7]:
df.head()

,event,first_name,last_name,email
0,"Sunday Service: Nov 5, 2023",Nicholas,Torelli,nicotarg123@gmail.com
1,"Sunday Service: Nov 5, 2023",Perry,Fox,pyrus277@gmail.com
2,"Sunday Service: Nov 5, 2023",Jane,Lam,puffymilk@gmail.com
3,"Sunday Service: Nov 5, 2023",Jane,Lam,puffymilk@gmail.com
4,"Sunday Service: Nov 5, 2023",Manisha,Paliwal,manisha1.paliwal@gmail.com

In [8]:
df.shape[0]

1731

In [9]:
# If an attendee name appears more than once for the same date, drop the duplicate.
# This would happen if the attendee buying the ticket uses the same name for everyone in their group.
df = df.drop_duplicates(subset=['event', 'first_name', 'last_name', 'email'], ignore_index=True)

In [10]:
df.shape[0]

1649

In [11]:
df.head()

,event,first_name,last_name,email
0,"Sunday Service: Nov 5, 2023",Nicholas,Torelli,nicotarg123@gmail.com
1,"Sunday Service: Nov 5, 2023",Perry,Fox,pyrus277@gmail.com
2,"Sunday Service: Nov 5, 2023",Jane,Lam,puffymilk@gmail.com
3,"Sunday Service: Nov 5, 2023",Manisha,Paliwal,manisha1.paliwal@gmail.com
4,"Sunday Service: Nov 5, 2023",Connor,Williams,cw3549@utsnyc.edu

In [12]:
# We want to know how many classes each person attended. 
# So, group by name and add a count column
df_grouped = df.groupby(['first_name', 'last_name', 'email']).size().reset_index(name='count')

In [13]:
# Sort by max attendance
df_grouped = df_grouped.sort_values(by='count', ascending=False)

In [14]:
df_grouped.head()

    first_name   last_name                        email  count
131     Basabi        Basu            basus06@gmail.com     19
293    Janhavi  Phansalkar  janhaviphansalkar@gmail.com     19
762     Sonali        Basu            basus06@gmail.com     19
416    Manisha     Paliwal   manisha1.paliwal@gmail.com     16
822     Tanuka     Ghoshal     tanuka.ghoshal@gmail.com     15

In [15]:
# Export the NEW dataframe into csv
df_grouped.to_csv('eventbrite_attendees.csv', index=False)